li.list-group-item.list-group-item-action(data-evnt-id='#{data.postalCode}') #{data.postalCode}
	a.remove-po-list(href='#' id='#{data.postalCode}')
		i.fa.fa-trash-o.fa-fw
	i.fa.fa-spinner.fa-pulse.fa-fw(style='float:left')