.card
	.card-header
		ul.nav.nav-pills.card-header-pills.float-xs-left
			li.nav-item
				a#clear-plist-btn.nav-link(href='#') Очистить
	.card-block
		h4.card-title  
		.card-text
			h4 Список	
				ul.list-group#path-list
		//input#execemail.form-control(type='email')
		a#create-path-btn.btn.btn-primary(href='#') создать маршрут
	.card-footer.text-muted
		.form-group
			label(for='users-list') Исполнитель
			select#users-list.form-control
				each user in users
					option(value="#{user._id}") #{user.fio}
		a#print-path-btn.btn.btn-primary(href='#') печатать
		a#assing-user-btn.btn.btn-default(href='#') назначить исполнителя