.card
	.card-header
		ul.nav.nav-pills.card-header-pills.float-xs-left
			li.nav-item
				a#clear-plist-btn.nav-link(href='#') Очистить
	.card-block
		h4.card-title  
		.card-text
			h4 Список	
				ul.list-group#path-list
		//input#execemail.form-control(type='email')
		a#create-path-btn.btn.btn-primary(href='#') создать маршрут
	.card-footer.text-muted
		a#print-path-btn.btn.btn-primary(href='#') печатать
		a#other-path-btn.btn.btn-default(href='#') еще чего-то