html
	head
		title
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='/css/bootstrap.min.css', type='text/css')
		link(rel='stylesheet', href='https://unpkg.com/flatpickr/dist/flatpickr.min.css')
		link(rel='stylesheet', href='css/at31pcht.css')
		script(src='https://use.fontawesome.com/ade75bb478.js')
block content