#modal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel', aria-hidden='true')
	.modal-dialog(role='document')
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-label='Close')
					span(aria-hidden='true') ×
				h4#myModalLabel.modal-title Все нормально )
			.modal-body
				img(img src="../img/maxresdefault.jpg" class="img-fluid" alt="all ok")
			.modal-footer
				button.btn.btn-secondary(type='button', data-dismiss='modal') Close