.card
	.card-header
		ul.nav.nav-pills.card-header-pills.float-xs-left
			li.nav-item
				a#add-to-list-btn.nav-link(href='#') Список/Добавить
			li.nav-item
				a#clear-list-btn.nav-link(href='#') Очистить
	.card-block
		h4.card-title  
		.card-text#listplace
		input#execemail.form-control(type='email')
		a#send-list-mail.btn.btn-primary(href='#') на почту исполнителю